<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="ch.qos.logback" level="WARN" />
	<logger name="org.mortbay.log" level="WARN" />
	<logger name="org.springframework.beans" level="WARN" />
	<logger name="org.springframework" level="WARN" />
    <logger name="org.apache.ibatis" level="WARN" />
    <logger name="net.prcins.wara" level="INFO" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>